<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/caio.css" />

    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
    </style>

  </head>

  <body class="bg-dark text-white">

    <nav id="nav-bar" class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" id="logo" class="bi bi-suit-heart-fill " viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg><a id="nav-a-logo" class="navbar-brand" href="/">HEART MOVIES</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            
              <a
                id="nav-a-profile"
                class="nav-link active"
                aria-current="page"
                href="/profile"
              >Profile</a>
              
            </li>
            <li class="nav-item dropdown">
              <a
                id="nav-a-categories"
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categories
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="/best-movies">Best Movies</a></li>
                <li><a class="dropdown-item" href="/best-series">Best Series</a></li>
                <li><a class="dropdown-item" href="/movies">All Movies</a></li>
              </ul>
            </li>
          </ul>
          <form
            id="nav-form"
            class="d-flex ms-auto"
            action="/movies"
            method="get"
          >
            <input
              class="form-control me-2"
              type="search"
              name="title"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              id="search-btn"
              class="btn btn-outline-primary"
              type="submit"
            >Search</button>
          </form>
          <div id="space">
          <div id="auth-btn-container" class="d-flex ">
           
           {{#unless checkUser}}

              <a class="nav-link" href="/login">
                <button
                  id="login-btn"
                  class="btn btn-outline-light me-2 text-white"
                >Log In</button>
              </a>
              <a class="nav-link" href="/signup">
                <button id="signup-btn" class="btn btn-outline-light me-2 text-white">Sign Up</button>
              </a>
            {{/unless}}

            {{#if checkUser}}
              <a class="nav-link" href="/logout">
                <button id="logout-btn" class="btn btn-outline-light me-2">Log
                  Out</button>
              </a>
            {{/if}}
          </div>
          </div>
        </div>
      </div>
    </nav>

    {{{body}}}

    {{! Footer }}
    <footer id="footer" class="w-100 py-4 flex-shrink-0 bg-dark opacity-80">
      <div class="container py-4">
        <div class="row gy-4 gx-5">
          <div class="col-lg-3 col-md-6">
            <h5 class="text-white">HEART MOVIES</h5>
            <p class="s text-secondary">
              Create a profile, add a bio and a picture. You can then have
              access to the IMDB api, search for movies and series and add them
              to your favorites. You can also check who else likes this film in
              the movie details.
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-3">About Us</h5>
            <ul class="list-unstyled text-muted">
              <li>
                <a
                  class="text-decoration-none text-secondary"
                  href="https://github.com/caiomazur"
                >Caio's Github</a>
              </li>
              <hr class="hr" />
              <li>
                <a
                  class="text-decoration-none text-secondary"
                  href="https://github.com/Deroubaix"
                >Marisha's Github</a>
              </li>
              <hr class="hr" />
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-3">Best of</h5>
            <ul class="list-unstyled text-muted">
              <li>
                <a
                  class="text-decoration-none text-secondary"
                  href="/best-movies"
                >Best Movies</a>
              </li>
              <hr class="hr" />
              <li>
                <a
                  class="text-decoration-none text-secondary"
                  href="/best-series"
                >Best Series</a>
              </li>
              <hr class="hr" />
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-3">Log on</h5>
            <ul class="list-unstyled text-muted">
              <li>
                <a class="text-decoration-none text-secondary" href="/login">Log
                  In</a>
              </li>
              <hr class="hr" />
              <li>
                <a
                  class="text-decoration-none text-secondary"
                  href="/signup"
                >Sign Up</a>
              </li>
              <hr class="hr" />
            </ul>
          </div>
        </div>
      </div>

      <div class="copyright">
        <p class="text-secondary-emphasis">
          &copy; 2023 Developed by Caio Mazur and Marisha Deroubaix -
          <br />
          Second Project Ironhack's Web Development Bootcamp.
        </p>
        <p class="text-secondary-emphasis">| Heart Movies</p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>

    {{!  <script src="/js/caio.js"></script> }}
    <script src="/js/script.js"></script>
  </body>

</html>