


<div class="container">
<div class="tutorial container text-center my-5 ratio ratio-16x9">
    <iframe src="{{result.linkEmbed}}"
    allowfullscreen>
</iframe>
</div>
</div>



{{!-- <div class=" embed-responsive">

    <iframe width="1200" height="400" src="{{result.linkEmbed}}">
</iframe>
	</div>	 --}}
    
{{!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{result.linkEmbed}}"></iframe>
</div> --}}


<!-- 21:9 aspect ratio -->
{{!-- <div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="{{result.linkEmbed}}"></iframe>
</div> --}}

