@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

/* Colors: 
#635985
#443C68
#393053
#18122B
*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='64' height='64' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(32, 38, 46,1)'/%3E%3Cpath d='M20 9.5a 20 20 0 0 1 40 0h1a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0h-1a 20 20 0 0 1 40 0z' fill='rgba(145, 49, 117,1)'/%3E%3Cpath d='M0 29.5a 20 20 0 0 1 40 0h1a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0a 1 1 0 0 1-2 0z' fill='rgba(205, 88, 136,1)'/%3E%3Cpath d='M20 49.5a 20 20 0 0 1 40 0h1a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0a 1 1 0 0 1-2 0a 19 19 0 0 0-38 0h-1a 20 20 0 0 1 40 0z' fill='rgba(145, 49, 117,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
  /*https://doodad.dev/pattern-generator */
  background: linear-gradient(to top, #18122b, #15111e);
}

/* Nav Bar */

#nav-bar {
  background-color: #4a3f35;
  background: linear-gradient(to bottom, #18122b, #393053);
}

#nav-a-logo {
  font-size: 1.5rem;
  margin: 0 1vw;
}
#nav-a-profile {
  font-size: 1rem;
  margin: 0 1vw;
}

#nav-a-categories {
  font-size: 1rem;
}

#nav-form {
  margin-top: 2vh;
  margin-right: 1vw;
}

#login-btn {
  color: rgb(251, 133, 0);
  border-color: rgb(251, 133, 0);
  margin-left: 0.8rem;
}
#login-btn:hover {
  color: white;
  background-color: rgb(251, 133, 0);
}

#search-btn {
  color: rgb(251, 133, 0);
  border-color: rgb(251, 133, 0);
  margin-top: 0.2vh;
}

#search-btn:hover {
  color: white;
  background-color: rgb(251, 133, 0);
}

#signup-btn {
  background-color: rgb(251, 133, 0);
  margin-left: 1rem;
}

#welcome-section {
  padding: 8vh;
}

#main-title {
  padding-top: 2vh;
  color: white;
  text-align: center;
}
#main-title h1:hover {
  text-shadow: -10px 10px 0px #393053, -20px 20px 0px #635985,
    -30px 30px 0px rgb(251, 133, 0);
  transition: all ease-in-out 250ms;
}
#main-title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Footer */

#footer {
  background: linear-gradient(to bottom, #18122b, #393053);
}

#footer h5 {
  margin-bottom: 3vh;
  padding-bottom: 3vh;
}

.copyright {
  padding-left: 7vw;
}

/* Carrousel */

#carouselExampleFade img {
  max-width: 750px;
  max-height: 550px;
}

#carouselExampleFade {
  max-width: 750px;
  max-height: 550px;
  box-shadow: 10px 5px 5px rgb(251, 133, 0);
}

/* Section 2 */

#section2 {
}

.icon svg {
  padding-top: 3vh;
  width: 2.5vw;
  height: auto;
}

#section2 p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: light;
}

.section1-card {
  background: linear-gradient(to bottom, #18122b, #393053);
  padding: 2vh;
}

.hr {
  color: rgb(251, 133, 0);
}

/* Section 3 */

.section3-text {
  margin-left: 5vw;
}

#section3 {
  padding-top: 3vh;
}

.home-movie-title {
  padding-top: 1rem;
  font-size: 1.2rem;
}

#signup-container {
  background: linear-gradient(to bottom, #18122b, #393053);

}

#signup-card {}