/* 
body {
  
background-color: black;
}


.bottom {
  display: flex;
  flex-direction: column;
}


.main_details{
  display: flex; 
  flex-direction: column;  
  margin:auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10%;
  color:#90ECF4;
  padding-right: 10%;
}
.movie_name{
  font-size: 2em;
  color:#fff;
}



#people-likes > div {
  display: flex;
  justify-content: space-evenly;
 
}

#people-likes > div > article {
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
#people-likes{
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
}
#people-likes .name {
font-size: 1.5em;
font-weight: 700;
}


.platforms,.description,.submit_form, .rating{
  padding-top: 5%;
  
}
.description{
  text-align: justify;
  padding-bottom: 6vh;
  color:#fff;
}
.details_bold{
  color: rgb(246, 237, 233);
  text-decoration: underline;
}
.trailer_bold{
  color:#1712a9;
  text-decoration: underline;
}
.trailer,.director,.release_date{
  text-decoration: none;
  font-size: 1.2em;
  padding-top: 5%;
  padding-bottom: 6%;
  color:#CEF2F8;
  
}
.arrange_image{
  display: flex;
}
.main_director{
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}
.like_button_image{
  width: 5vh;
}


.image_details{
  border: 2px solid #68767A;
  border-radius: 5px;
  box-shadow: 0 10px 50px #DAE4E7;
}
.movie_name_details{
  color:#CEF2F8;
}
.logo_writing{
  display: flex;
}



@media (max-width:400px) {
 
  #carouselExampleSlidesOnly {
    width: 82vw;
    height: 350px;
    padding-left: 8vh;
}
  .main_text{
    width: 50vh;
    padding-left: 10%;
    
  }
  .home_page_body > .row{
    width:100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
  }
  .image_logo{
    width: 14%;
  }
  .logo_phone_version{
    display: flex;
    
  }

   .image_details{
    width: 35vh;
    height: 20vh;
   }
   .main_director{
    display: flex;
    flex-direction: column;
    margin-top: 45%;
    margin-left: -242px
   }

  .profile-pics-div{
    justify-content: center;
  }
  .hr-profile{
    width:100%;
  }

}  */


    @media only screen and (max-width: 768px) {
        #people-likes .card {
            max-width: 200px;
            margin: auto;
        }
    }

    #people-likes  {
      padding-top: 50px;
     
    }

    .movie_name_details{
      font-size: 3rem;
      color: rgb(240, 151, 49);
    }

    .like_button{
      border: none;
      background: none;
    }
    
    .description{
      text-align: justify;
      padding-bottom: 5vh;
      color:#fff;
    }

    .details_bold{
      color:rgb(240, 151, 49) ;
      font-size: 1.5rem;
     
    }
    .trailer_bold{
      color:yellow;
      font-size: 1.5rem;
      text-decoration: underline;
    }
    .trailer,.director,.release_date, .cast, .rating, .description{
      text-decoration: none;
      font-size: 1.2em;
      padding-top: 3%;
      padding-bottom: 3%;
      color: white;   
    }

    .form {
      padding-top: 40px;
    }

    .container-margin {
      padding: 20px;
    }

    .list {
      text-align: center;
      padding: 20px;
    }

    .list-card {
      background: linear-gradient(to bottom, #18122b, #393053);
      margin: 2vh 1vw;

    }

    .page-btn {
      text-decoration: none;
      color: white;
    }

    .card-profile {
      align-items: center;
      max-width: 25vw;
      border: 1px solid rgb(251, 133, 0) ;
      border-radius: 2rem;
      background: linear-gradient(to bottom, #120e22, #2f2845);
      margin: 2vh 1vw;
      
    }

    .container-profile {
      margin-top: 3vh;
      padding: 2rem;
    }
  

    #btn {
      color:rgb(251, 133, 0);
      border-color:rgb(251, 133, 0);
      
  }

  #btn-edit a{
    text-decoration: none;
    color:rgb(251, 133, 0);
      border-color:rgb(251, 133, 0); 
  }
  #btn-edit:hover a{
    text-decoration: none;
    color:rgb(251, 133, 0);
   
     
  }
  
  #btn:hover {
      color:#635985;
      background-color: rgb(251, 133, 0);
  }

  #error {
    width: 100%;
  }





  



